[submodule "Eternal/vendor/spdlog"]
	path = Eternal/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Eternal/vendor/GLFW"]
	path = Eternal/vendor/GLFW
	branch = master
	url = https://github.com/BrandnerKasper/glfw
[submodule "Eternal/vendor/imgui"]
	path = Eternal/vendor/imgui
	branch = master
	url = https://github.com/BrandnerKasper/imgui
[submodule "Eternal/vendor/glm"]
	path = Eternal/vendor/glm
	url = https://github.com/g-truc/glm
